body {
	box-sizing: border-box;

	margin: 0;
	font-family: 'Inter', sans-serif;
	color: #25343F;

	outline: none;
	user-select: none;

	background-color: #EAEFEF;
}

button {
  background: none;
  border: none;
  outline: none;
  
	padding: 0;
  margin: 0;

  font: inherit;
	font-weight: bold;
	color: #25343F;
  
	cursor: pointer;
}

input {
	display: flex;
	border: none;
  outline: none;
  border-radius: 7px;

	padding: 0;
  margin: 5px;

  font: inherit;
	color: #25343F;

	background-color: #BFC9D1;
}

.main_container {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
}

.sideBar_container {
	display: flex;
	flex-direction: column;
	width: 15vw;
	height: 100vh;

	background-color: #BFC9D1;
}

.sidebar_todo_container,
.sidebar_projects_container  {
	display: flex;
	flex-direction: column;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

.sidebar_todo_container > div,
.sidebar_projects_container > div {
	margin-top: 5px;
}

.sidebar_todo_container button:hover,
.sidebar_projects_container button:hover {
	color: black;
	font-weight: bolder;
}

#sideBar_createNew {
	position: relative;
	justify-content: center;
	align-items: center;
}

.todo_container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 50px;
}

#create_container {
	display: none;
	flex-direction: column;
	position: absolute;

	width: 550px;
	height: 350px;
	border-radius: 10px;
	padding: 50px;

	background-color: #B17457;
}

#create_title, #create_desc, #create_dueDate {
	width: 400px;
	
	padding:3px;
	margin-top: 20px;
	border-radius: 7px;
} 

#create_close {
	display: flex;
	position: absolute;

	top: 0;
	right: 0;

	margin: 10px;
	font-size: 30px;

	cursor: pointer;
}

.todo {
	display: flex;
	align-items: center;
	
	width: 400px;
	height: 15px;

	font-size: large;

	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	
	background-color: #B17457;
}