body {
	box-sizing: border-box;

	margin: 0;
	padding: 10px;
	font-family: 'Inter', sans-serif;
	color: #FAF7F0;

	outline: none;
	user-select: none;

	background-color: #D8D2C2;
}

button {
  background: none;
  border: none;
  outline: none;
  
	padding: 0;
  margin: 0;

  font: inherit;
	color: #FAF7F0;
  
	cursor: pointer;
}

input {
	display: flex;
	border: none;
  outline: none;
  border-radius: 7px;

	padding: 0;
  margin: 5px;

  font: inherit;
	color: #FAF7F0;

	background-color: #4A4947;
}

.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sideBar_container {
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	width: 95vw;
	height: 50px;

	border-radius: 10px;
	padding-left: 20px;

	background-color: #4A4947;

}

.create_dropdown {
	display:none;
	position:absolute;

	width:230px;
	height:170px;

	padding: 10px;
	border-radius: 10px;

	background-color: #B17457;
}

#sideBar_createNew {
	position:relative;
	justify-content: center;
	align-items: center;
}

#sideBar_createNew:hover .create_dropdown,
.createDropdown:hover {
	display:block;
}

#sideBar_search,#sideBar_createNew,
#sideBar_projects, #sideBar_starred {
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.todo_container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 50px;
}

.today_container, .week_container,
.upcoming_container {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;

	font-size: 40px;

	width: 500px;
	height: 700px;

	padding-top: 20px;
	margin-left: 50px;
	margin-right: 50px;

	background-color: #4A4947;
}

.todo {
	display: flex;
	align-items: center;
	
	width: 300px;
	height: 15px;

	font-size: large;

	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	
	background-color: #B17457;
}